body {
    background-image: url('../eventImages/gray_website_background_by_maruron-d4ugudv.jpg');
    background-image: url('../eventImages/293151-css-background.jpg');
    background-image: url('../eventImages/4598468050_979x604.jpg');
    color:white;
}
.events{
    padding-left:20%;
}