

table {
	
	margin-bottom: 0.8vw;
	font-size: 1vw;
 	border-collapse: collapse;
}



select {
	width:100%;
}
th {
	text-align:center;
	background:linear-gradient(#0088cc,#3577a7 );
	color: #fff;
  	font-weight: bold;
	padding:  1.2vw;
}






td {
	text-align:center;
	padding: 10px 15px;
}




#pageNav{
	text-align: center;
	margin-top:3vw;
	font-size:1vw;
}
#pageNav a{
	
	padding: 1vw 2vw;
	text-decoration:none;
	display:inline; 
}

#pageNav a.activePage {
	background-color: #ccc;
}

#pageNav a:hover:not(.activePage) {
	background-color: #e8e8e8;
}


